<style>
  .table td, .table th { vertical-align: middle; } .noProd {display: flex;
  align-items: center; width: 100%; height: 30vh; justify-content: center;}
  .tablaConteiner{display: flex; flex-direction: column;align-items:
  center;justify-content: center;width: 100%; min-height: 50vh;} .tablaConteiner
  h2{margin-bottom: 3rem; font-size: 2.5rem;border-bottom: 1px solid black;}
  .table{border: 1px solid black; width: 80%;} .table thead tr th { font-size:
  1.6rem; } .table thead tr { margin-bottom: 2rem; border-bottom: 1px solid
  black; } .table tr { display: flex; justify-content: space-around;
  align-items: center; text-align: center; width: 100%; font-size: 1.7rem; border: 1px solid black;}
</style>

{{#if productos.length}}
  <div class="tablaConteiner">
    <h2>Lista de Productos</h2>
    <table class="table">
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Precio</th>
          <th>Foto</th>
        </tr>
      </thead>
      <tbody>
        {{#each productos}}
          <tr>
            <td>{{this.producto}}</td>
            <td>${{this.precio}}</td>
            <td><img width="50" src={{this.url}} alt="not found" /></td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
{{else}}
  <div class="noProd">
    <h2>Por el momento no existe ningun producto cargado, por favor carga un
      producto.</h2>

  </div>
{{/if}}